//output: index.html, pretty:false

include site/_config.jade

+html5
  +head('Garantía | '+title, stylesheets, keywords, description)
  body    
    
    header
      +logo
      .container.aboutus
        .col8.push1.col-t10.push-t1.col-m10.push-m1
          h2
            strong GARANTÍA
            br
            | APPTA SECURITY
          p En APPTA no improvisamos, contamos con los recursos de seguridad necesarios para tu empresa, mismos que se refuerzan de manera constante para brindar un mejor servicio de manera personalizada.
          P Nuestra empresa ha adoptado los postulados de ética profesional en materia de seguridad, además de funcionar dentro de rigurosos estándares.  
          P Somos un grupo de profesionales  comprometidos a prestar servicios de la más alta calidad y  para ello contamos con capacitación constante en todos los niveles, fomentando un espíritu de superación en los diferentes ámbitos de quienes formamos parte de esta importante empresa, lo que garantiza a nuestros  elementos el más alto grado de especialización.
          P En APPTA no te vendemos un servicio que no requieres, nos basamos 100% en tus necesidades reales.
        .col2.notablet.nomobile
          .photoround: img(src="site/img/garantiaelemento.jpg", alt="Garantía").w100
      .container.aboutus
        .col8.push1.col-t10.push-t1.col-m10.push-m1
          h2
            strong NUESTROS OFICIALES
          p En APPTA Security contamos con Oficiales de protección altamente capacitados para asistir y sustentar exitosamente sus responsabilidades asignadas, proporcionar información con sentido humano y el desarrollo de los recursos requeridos para mejorar de manera organizada la seguridad, así como la protección pública y privada.
          p El objetivo de nuestros Oficiales de Protección es vigilar, resguardar y proteger a las personas y bienes puestos bajo su custodia, tanto de actos ilícitos como de desastres, así como prevenir, investigar y reunir las evidencias necesarias para castigar a los responsables de un delito; además en caso de flagrancia, deberá detenerlos y ponerlos a disposición de las autoridades correspondientes.
          p Nuestros Oficiales están siempre dispuestos a poner todos sus conocimientos, voluntad, inteligencia y esfuerzo al servicio de la sociedad, por lo que se encuentran en constante capacitación y adiestramiento en temas de seguridad personal, prevención del delito y orden público.
          p Conocen su profesión y están entrenados para tener la capacidad de tomar decisiones correctas en momentos críticos.
        .col2.notablet.nomobile
          .photoround: img(src="site/img/oficiales.jpg", alt="Nuestros Oficiales").w100
      .container.aboutus
        .col3.push1.col-t12.push-t0.col-m12.push-m0.tac
          .photoround: img(src="site/img/nuestroselementos.jpg", alt="Nuestros Elementos").w100
        .col7.col-t10.push-t1.col-m10.push-m1
          h2 
            strong Nuestros elementos de seguridad
            br
            | son capacitados en:
          ul
            li Bases y elementos en seguridad.
            li Defensa personal.
            li Manejo de armas de fuego.
            li Protección civil.
            li Primeros auxilios.
            

    
    
    +contact
    +footer
    +scripts
